body,html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

#container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
    border: none;
    
}

#image-title-section {
    flex: 1 1 0%;
}

#background-image {
    height: 100vh;
    width: 40vw;
}

#logo {
    width: 5rem;
    height: 5rem;
}

#title {
    padding: 0.5rem 0;
    width: 40vw;
    position: absolute;
    left: 5vw;
    top: 20vh;
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#title > p {
    font-family: 'norse-bold';
    color: white;
    font-size: 4rem;
    margin: 0;
    align-self: center;
}

#image-credit {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    left: 17vw;
}

#form-section {
    margin: 3rem;
    flex: 5 1 0%;
}

form {
    margin-top: 4rem;
}

#grid-container {
    font-size: 11px;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

#grid-container div{
    display: flex;
    flex-direction: column;
}

#grid-container div label{
    margin-bottom: 0.5rem;
}

input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
}

button {
    background-color: #aec2be;
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.error {
    border-color: red;
}

.focus {
    border-color: #87c2b6 ;
}

#error-message {
    color: red;
    font-size: 0.7rem;
    margin: 0;
}

@font-face {
    font-family: 'norse-bold';
    src: url(/Norse-Bold.otf);
}